body {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100vh;
}
#cadastro .container #cadastro-row #cadastro-column #cadastro-box {
    margin-top: 70px;
    max-width: 600px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#cadastro .container #cadastro-row #cadastro-column #cadastro-box #cadastro-form {
    padding: 20px;
}
#cadastro .container #cadastro-row #cadastro-column #cadastro-box #cadastro-form #register-link {
    margin-top: -85px;
}
.btn-primary {
    background-color: rgb(189, 93, 56) !important;
    color: white;
    border: 2px solid rgb(189, 93, 56) !important;
    padding: 10px 20px !important;
    cursor: pointer !important;
    transition: border-color 0.3s, background-color 0.3s !important;
}
.btn-primary:hover {
    color: #fff !important;
    background-color: rgb(189, 93, 56) !important;
    border-color: white !important; /* destaque com a cor branca */
}
.text-info{
    color: rgb(189, 93, 56) !important;
}